@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Patrick+Hand&family=Shadows+Into+Light&display=swap');


body {
  background-color: #111;
  color: white;
  font-family: "Lato", sans-serif;
  height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}


body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

select::-webkit-scrollbar {
  display: none;
}

select {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  width: 60vw;
  background-color: #222;
  border-radius: 15px;
  padding: 35px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: auto;
  margin-top: 50vh;
  transform: translate(0, -50%);
}

input, .submit, select {
  font-family: "Lato", sans-serif;
  background-color: transparent;
  font-size: 18px;
  border: 3px solid white;
  color: white;
  margin-bottom: 18px;
  padding: 7px;
}

.architectsdaughter {
  font-family: "Architects Daughter", cursive;
}

.indieflower {
  font-family: "Indie Flower", cursive;
}

.shadowsintolight {
  font-family: "Shadows Into Light", cursive;
}

.patrickhand {
  font-family: "Patrick Hand", cursive;
}

option {
  background-color: #222;
  transition: 0.3s;
}


.submit {
  transition: 0.3s;
}

.submit:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}



label {
  font-size: 12px;
}

textarea {
  font-family: "Lato", sans-serif;
  background-color: transparent;
  font-size: 18px;
  border: 3px solid white;
  padding: 7px;
  color: white;
  min-height: 140px;
  min-width: 340px;
  max-height: 250px;
  max-width: 780px;
  margin-bottom: 18px;
}

.flex-container {
  display: flex;
  height: auto;
}

.flex-box {
  width: 33%;
  padding: 1vw;
  margin: auto;
}

#flex-box-one {
  text-align: left;
}

#flex-box-two {
  text-align: right;
}

a {
  color: #bbb;
  transition: 0.4s;
}

a:hover {
  color: #fff;
}


.flip-card {
  background-color: transparent;
  width: 40vw;
  height: 300px;
  perspective: 1000px;
  margin: auto;
  display: none;
  margin-top: 10vh;
  margin-bottom: 80px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 10px 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.info {
  display: none;
  font-family: "Lato", sans-serif;
  width: 40vw;
  background-color: #2196f3;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 40vw;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.info p {
  padding-left: 20px;
  color: black !important;
}

.info img {
  height: 30px;
  filter: invert(0.1);
}

#flex-box-three {
  text-align: center;
}

#flex-box-three a {
  text-decoration: none;
}

.shareicon {
  filter: invert(0.5);
  width: 30px;
  padding: 20px;
  padding-top: 25px;
  transition: 0.4s;
}

.shareicon:hover {
  filter: invert(1);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  background-image: url("/greetingcard.jpeg");
  background-size: cover;
  color: black;
  font-family:'Nerko One', cursive;
  font-size: 30px;
  padding-top: 50px;
  line-height: 170px;
}

.flip-card-back {
  background-color: #2196f3;
  color: black;
  transform: rotateY(180deg);
  font-size: 18px;
  padding-top: 50px;
}

.flip-card-back p {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

#displayarea2 {
  text-transform: capitalize;
}

input:focus {
  outline-color: transparent;
}

textarea:focus {
  outline-color: transparent;
}

.submit:focus {
  outline-color: transparent;
}

select:focus {
  outline-color: transparent;
}

@media (max-width: 740px) {
  .flex-box {
    width: 100%;
    text-align: center!important;
    padding: 0vw;
    padding-bottom: 30px;
  }
  .flex-box h2 {
    line-height: 60%;
  }
  .flex-container {
    display: block;
  }
  .card {
    width: 75vw;
  }
  .flip-card {
    width: 75vw;
  }
  .info {
    width: 75vw;
  }
}

@media (pointer: coarse) and (orientation: portrait) {
  .flex-box {
    width: 100%;
    text-align: center!important;
    padding: 0vw;
    padding-bottom: 30px;
  }
  .flex-box h2 {
    line-height: 60%;
    font-size: 40px;
  }
  .flex-box p {
    font-size: 30px;
  }
  .flex-container {
    display: block;
  }
  .card {
    width: 75vw;
  }
  .flip-card {
    width: 75vw;
  }
  .info {
    width: 75vw;
  }
  .shareicon {
    width: 75px;
  }
  input, .submit, select, textarea {
    font-size: 30px;
  }
  label {
    font-size: 20px;
  }
  textarea {
    min-width: 640px;
  }
  input {
    min-width: 440px;
  }
  .info {
    font-size: 26px;
  }
  .flip-card-back {
    font-size: 26px;
  }
  .flip-card-front {
    font-size: 40px;
  }
}
